.overlay-wrapper {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.overlay {
  background: url(/src/img/backgroundimage2.png) no-repeat;
  background-size: cover;
  width: 500px;
  max-height: 500px;
  height: fit-content;
  border-radius: 6px;
}

.overlay-name {
  color: #fff;
  width: 100%;
  padding: 2rem;
}

.overlay-details {
  width: 100%;
  overflow: auto;
  max-height: 345px;
  height: fit-content;
  background-color: #fff;
  padding-inline: 2rem;
  border-block: 2rem solid #fff;
}

.overlay-form {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.input-group-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset {
  border: transparent;
}

.input-group {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.input-pair {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.input-group-name {
  font-size: 14px;
  font-weight: 700;
}

.input-group label {
  font-size: 12px;
  font-weight: 600;
}

.input-group select,
.input-group input {
  padding: 6px 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group select:focus,
.input-group input:focus {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 255, 0.5);
  border: 1px solid transparent;
}

.overlay-controls {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.overlay-controls .button {
  padding: 8px;
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  border: 2px solid var(--color-secondary);
  transition: all 0.25s;
}

.overlay-controls .button.cancel-button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.overlay-controls .button.cancel-button:hover {
  background-color: #fff;
  color: var(--color-primary);
}

.overlay-controls .button.submit-button:hover {
  background-color: var(--color-secondary-drk);
}

.archive-message {
  letter-spacing: 1px;
  font-weight: 500;
}

.highlight {
  color: red;
  font-size: 1rem;
  font-weight: 700;
}
